header.header
    .header__column
        i.fab.fa-youtube
    .header__column
        ul
            li
                a(href="users/userDetail") Profile
            li
                a(href="/join") Join
            li
                a(href="/login") Login