<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Wetube 4
    body
        header
            h3 wetube
        main
            block content
        footer
            span &copy; Wetube